@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 240 1% 36%;
    --card: 0 0% 100%;
    --card-foreground: 240 1% 36%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 1% 36%;
    --primary: 104 78% 59%;
    --primary-foreground: 0 0% 0%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 1% 36%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 1% 45%;
    --accent: 240 5% 93%;
    /* Gris sutil para el hover */
    --accent-foreground: 240 1% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 5% 85%;
    --input: 240 5% 85%;
    --ring: 104 78% 59%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Montserrat', sans-serif !important;
  }
}

/* Conservamos tus estilos de Leaflet para que el mapa no se rompa */
@import 'leaflet/dist/leaflet.css';

.leaflet-container {
  @apply h-full w-full rounded-lg;
  background: #bfc7cc;
}